@import "tailwindcss";

#hero::before {
  content: "";
  position: absolute;
  top: 4.1rem;
  left: 0;
  height: 60vh;
  width: 100%;
  background-image: url("https://www.zillowstatic.com/bedrock/app/uploads/sites/5/2024/07/image2-m%402x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(85%);
  z-index: -1;
}
